form {
  position: relative;
}
label {
  display: block;
  white-space: nowrap;
}
.initlabel {
  position: absolute;
  opacity: 0;
  color: #14afff;
  margin-bottom: 3px;
  cursor: text;
}
.showlabel {
  opacity: 1;
}
.transition {
  -webkit-transition: all 300ms 0 ease;
  -moz-transition: all 300ms 0 ease;
  -ms-transition: all 300ms 0 ease;
  -o-transition: all 300ms 0 ease;
  transition: all 300ms 0 ease;
}